.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.01em;
    text-align: center;
    margin-right: 15px;
}
.frac > span {
    display: block;
    padding: 0.4em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    margin: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}